{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">
            <!-- Header-->
            {% block header %}
            <header class="bg-dark py-5">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2">犬種診断</h1>
                                <p class="lead fw-normal text-white-50 mb-4">質問に答えるとぴったりの犬種がわかる！？</p>
                                {% if user.is_authenticated %}
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'accounts:login' %}">診断する</a>
                                    <a class="btn btn-outline-light btn-lg px-4" href="{% url 'accounts:logout' %}">ログアウト</a>
                                </div>
                                {% else %}
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'accounts:login' %}">ログイン</a>
                                    <a class="btn btn-outline-light btn-lg px-4" href="{% url 'accounts:signup' %}">サインアップ</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
                    </div>
                </div>
            </header>
            {% endblock %}

            {% block contents %}
            <form method='POST' enctype='multipart/form-data'>
                {% csrf_token %}
                <label for="{{ form.answer_1.id_for_label }}">質問1:元気ですか？ {{ form.question_1.label }}</label>
                                            <br>
                                            <div>
                                                <button type="button" name="answer_1" value="1">とても</button>
                                                <button type="button" name="answer_1" value="2">まぁまぁ</button>
                                                <button type="button" name="answer_1" value="3">悪い</button>
                                            </div>
                                            <br><br><br>
                                            <label for="{{ form.answer_2.id_for_label }}">質問2:何が食べたいですか？ {{ form.question_2.label }}</label>
                                            <br>
                                            <div>
                                                <button type="button" name="answer_2" value="1">オムライス</button>
                                                <button type="button" name="answer_2" value="2">ラーメン</button>
                                                <button type="button" name="answer_2" value="3">お子様ランチ</button>
                                            </div>
                                            <br><br><br>
                                            <label for="{{ form.answer_3.id_for_label }}">質問3:どこに行きたいですか？国の名前は？ {{ form.question_3.label }}</label>
                                            <br>
                                            <div>
                                                <button type="button" name="answer_3" value="1">アメリカ</button>
                                                <button type="button" name="answer_3" value="2">日本のままがいい</button>
                                                <button type="button" name="answer_3" value="3">スリランカ民主社会主義共和国</button>
                                            </div>
                                            <br><br><br>
                                            <label for="{{ form.answer_4.id_for_label }}">質問4:早口言葉ならああああああああああああ {{ form.question_4.label }}</label>
                                            <br>
                                            <div>
                                                <button type="button" name="answer_4" value="1">坊主が上手にびょうぶに坊主の絵をかいた</button>
                                                <button type="button" name="answer_4" value="2">赤巻紙青巻紙黄巻紙</button>
                                                <button type="button" name="answer_4" value="3">マサチューセッツ州</button>
                                            </div>
                                            <br><br><br>
                                            <label for="{{ form.answer_5.id_for_label }}">質問5: {{ form.question_5.label }}</label>
                                            <br>
                                            <div>
                                                <button type="submit" name="answer_5" value="1">1</button>
                                                <button type="submit" name="answer_5" value="2">2</button>
                                                <button type="submit" name="answer_5" value="3">3</button>
                                            </div>
                                            <br><br><br>
                                            <label for="{{ form.answer_6.id_for_label }}">質問6: {{ form.question_6.label }}</label>
                                            <br>
                                            <div>
                                                <button type="submit" name="answer_6" value="1">1</button>
                                                <button type="submit" name="answer_6" value="2">2</button>
                                                <button type="submit" name="answer_6" value="3">3</button>
                                            </div>
                                            <br><br><br><br>
                                            <button type="submit">送信</button>
                                        </form>
            {% endblock %}
    </body>
</html>
