{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">
            <!-- Header-->
            {% block header %}
            <header class="bg-dark py-5">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2">犬種診断</h1>
                                <p class="lead fw-normal text-white-50 mb-4">質問に答えるとぴったりの犬種がわかる！？</p>
                                {% if user.is_authenticated %}
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'accounts:login' %}">診断する</a>
                                    <a class="btn btn-outline-light btn-lg px-4" href="{% url 'accounts:logout' %}">ログアウト</a>
                                </div>
                                {% else %}
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'accounts:login' %}">ログイン</a>
                                    <a class="btn btn-outline-light btn-lg px-4" href="{% url 'accounts:signup' %}">サインアップ</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
                    </div>
                </div>
            </header>
            {% endblock %}

            {% block contents %}
            <form method="post">
                {% csrf_token %}
                <label for="{{ form.answer_1.id_for_label }}">質問1: {{ form.question_1.label }}</label>
                {{ form.answer_1 }}
                <br>
                <label for="{{ form.answer_2.id_for_label }}">質問2: {{ form.question_2.label }}</label>
                {{ form.answer_2 }}
                <br>
                <label for="{{ form.answer_3.id_for_label }}">質問3: {{ form.question_3.label }}</label>
                {{ form.answer_3 }}
                <br>
                <label for="{{ form.answer_4.id_for_label }}">質問4: {{ form.question_4.label }}</label>
                {{ form.answer_4 }}
                <br>
                <label for="{{ form.answer_5.id_for_label }}">質問5: {{ form.question_5.label }}</label>
                {{ form.answer_5 }}
                <br>
                <label for="{{ form.answer_2.id_for_label }}">質問6: {{ form.question_6.label }}</label>
                {{ form.answer_6 }}
                <br>
                <button type="submit">送信</button>
            </form>
            <form method="post">
                {% csrf_token %}

                <!-- 質問1 -->
                <h4>質問1</h4>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-secondary">
                    <input type="radio" name="answer_1" value="1"> 選択肢1
                    </label>
                    <label class="btn btn-secondary">
                    <input type="radio" name="answer_1" value="2"> 選択肢2
                    </label>
                    <label class="btn btn-secondary">
                    <input type="radio" name="answer_1" value="3"> 選択肢3
                    </label>
                </div>

                <h4>質問2</h4>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-secondary">
                    <input type="radio" name="answer_1" value="1"> 選択肢1
                    </label>
                    <label class="btn btn-secondary">
                    <input type="radio" name="answer_1" value="2"> 選択肢2
                    </label>
                    <label class="btn btn-secondary">
                    <input type="radio" name="answer_1" value="3"> 選択肢3
                    </label>
                </div>

                <h4>質問3</h4>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-secondary">
                    <input type="radio" name="answer_1" value="1"> 選択肢1
                    </label>
                    <label class="btn btn-secondary">
                    <input type="radio" name="answer_1" value="2"> 選択肢2
                    </label>
                    <label class="btn btn-secondary">
                    <input type="radio" name="answer_1" value="3"> 選択肢3
                    </label>
                </div>

                <h4>質問4</h4>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-secondary">
                    <input type="radio" name="answer_1" value="1"> 選択肢1
                    </label>
                    <label class="btn btn-secondary">
                    <input type="radio" name="answer_1" value="2"> 選択肢2
                    </label>
                    <label class="btn btn-secondary">
                    <input type="radio" name="answer_1" value="3"> 選択肢3
                    </label>
                </div>

                <h4>質問5</h4>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-secondary">
                    <input type="radio" name="answer_1" value="1"> 選択肢1
                    </label>
                    <label class="btn btn-secondary">
                    <input type="radio" name="answer_1" value="2"> 選択肢2
                    </label>
                    <label class="btn btn-secondary">
                    <input type="radio" name="answer_1" value="3"> 選択肢3
                    </label>
                </div>
                <h4>質問6</h4>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-secondary">
                    <input type="radio" name="answer_1" value="1"> 選択肢1
                    </label>
                    <label class="btn btn-secondary">
                    <input type="radio" name="answer_1" value="2"> 選択肢2
                    </label>
                    <label class="btn btn-secondary">
                    <input type="radio" name="answer_1" value="3"> 選択肢3
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">送信</button>
            </form>
            {% endblock %}
    </body>
</html>
