{% extends 'base.html' %}
{% load static %}
{% block title %}comment{% endblock %}

<!-- Header -->
{% block header %}
<header class="bg-warning py-0">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6 text-center">
                <div class="my-5">
                    <h1 class="display-5 fw-bolder text-dark mb-2">掲示板</h1>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block contents %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var toggleButtons = document.querySelectorAll(".toggle-reply-form");
        var cancelButtons = document.querySelectorAll(".cancel-reply-form");

        toggleButtons.forEach(function(button) {
            button.addEventListener("click", function() {
                var replyFormContainer = this.parentElement;
                var replyForm = replyFormContainer.querySelector(".reply-form");
                var originalToggleButton = replyFormContainer.querySelector(".toggle-reply-form");

                if (replyForm.style.display === "none" || replyForm.style.display === "") {
                    replyForm.style.display = "block";
                    originalToggleButton.style.display = "none";
                } else {
                    replyForm.style.display = "none";
                    originalToggleButton.style.display = "block";
                }
            });
        });

        cancelButtons.forEach(function(cancelButton) {
            cancelButton.addEventListener("click", function() {
                var replyFormContainer = this.parentElement;
                var replyForm = replyFormContainer.querySelector(".reply-form");
                var originalToggleButton = replyFormContainer.querySelector(".toggle-reply-form");

                replyForm.style.display = "none";
                originalToggleButton.style.display = "block";
            });
        });
    });
</script>

<style>
    .reply-buttons {
        display: flex;
        justify-content: space-between;
    }

    .toggle-reply-form,
    .close-reply-form {
        margin-right: 20px; /* ボタン間の右側のマージンを調整 */
    }

    /* 返信コメントの左側に空白のボックスを追加 */
    .reply-box-left {
        margin-left: 20px;
        border-left: 4px solid #ccc; /* 左側のボーダーを追加 */
        padding-left: 10px; /* 左側の余白を調整 */
    }
</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h3 class="display-7 fw-bolder text-dark mb-2 text-center">コメントを投稿する</h3>
            <hr>
            <form method="post" class="mb-4">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.category.label_tag }}
                    {{ form.category }}<span class="small-text"> 特定の犬種があれば選択してください</span>
                </div>
                <div class="mb-3">
                    {{ form.comment_text.label_tag }}
                    <textarea name="comment_text" rows="3" class="form-control"></textarea>
                </div>
                <div class="mb-3">
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary">投稿</button>
                    </div>
                </div>
            </form>

            <!-- コメント一覧 -->
            <hr style="border: 4px solid orange;">
            <h3 class="display-7 fw-bolder text-dark mb-2 text-center">コメント</h3>
            <div class="comment-list">
                {% for comment in comments %}
                <hr style="border-top: 4px solid #000;">
                <div class="comment-box">
                    <div class="comment-header">
                        <span class="comment-id">NO: {{ comment.id }}</span>
                        {% if comment.category %}
                        <a href="{% url 'dogapp:dog_detail' comment.category_id %}">{{ comment.category }}</a>
                        {% else %}
                        その他
                        {% endif %}
                        <span class="comment-user">{{ comment.user }}</span>
                        <span class="comment-date">{{ comment.post_date }}</span>
                    </div>
                    <div class="comment-text">
                        <p class="comment-text-large">
                            {{ comment.comment_text }}
                        </p>
                        {% if request.user == comment.user %}
                        <form method='POST'>
                            <div class="d-flex justify-content-end">
                                <a href="{% url 'dogapp:comment_delete' comment.pk %}" class="btn btn-danger my-2">削除する</a>
                            </div>
                        </form>
                        {% else %}
                        <div class="reply-form-container">
                            <button class="btn btn-primary my-2 toggle-reply-form">返信</button>
                            <form method='POST' action="{% url 'dogapp:reply' %}" class="reply-form" style="display: none;">
                                {% csrf_token %}
                                <input type="hidden" name="parent_comment_id" value="{{ comment.pk }}">
                                <div class="mb-3">
                                    <textarea name="comment_text" rows="3" class="form-control"></textarea>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <div class="d-flex">
                                        <button type="submit" class="btn btn-primary my-2">送信</button>
                                        <button class="btn btn-danger my-2 cancel-reply-form" style="margin-left: 10px;">キャンセル</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        {% endif %}
                        <!-- 返信コメント -->
                        {% for reply in reply_comments %}
                        {% if reply.parent_comment == comment %}
                        <div class="reply-box reply-box-left">
                            <div class="reply-header">
                                <span class="reply-user">{{ reply.user }}</span>
                                <span class="reply-date">{{ reply.post_date }}</span>
                            </div>
                            <div class="reply-text">
                                <p class="reply-text-large">
                                    {{ reply.comment_text }}
                                </p>
                            </div>
                        {% if request.user == reply.user %}
                            <form method='POST'>
                                <div class="d-flex justify-content-end">
                                    <a href="{% url 'dogapp:reply_delete' reply.pk %}" class="btn btn-danger my-2">削除する</a>
                                </div>
                            </form>
                            {% else %}
                            <div class="reply-form-container">
                                <button class="btn btn-primary my-2 toggle-reply-form">返信</button>
                                <form method='POST' action="{% url 'dogapp:reply' %}" class="reply-form" style="display: none;">
                                    {% csrf_token %}
                                    <input type="hidden" name="parent_comment_id" value="{{ comment.pk }}">
                                    <div class="mb-3">
                                        <textarea name="comment_text" rows="3" class="form-control"></textarea>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <div class="d-flex">
                                            <button type="submit" class="btn btn-primary my-2">送信</button>
                                            <button class="btn btn-danger my-2 cancel-reply-form" style="margin-left: 10px;">キャンセル</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        {% endif %}
                        </div>
                        <br>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% empty %}
                <p>まだコメントはありません。</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <hr style="border: 4px solid orange;">
    {% include 'pagination.html' %}
</div>
{% endblock %}
