{% extends 'base.html' %}
{% load static %}
            <!-- Header-->
            {% block header %}
            <header class="bg-warning py-0">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-black mb-2">犬種診断アプリ</h1>
                                <p class="lead fw-normal text-black-50 mb-4">あなたにぴったりのパートナー見つけませんか？</p>
                                {% if user.is_authenticated %}
                                <div class="d-grid gap-3 d-sm-flex justify-content-center">
                                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'dogapp:question1' %}">診断する</a>
                                    <a class="btn btn-outline-dark btn-lg px-4" href="{% url 'accounts:logout' %}">ログアウト</a>
                                </div>
                                {% else %}
                                <div class="d-grid gap-3 d-sm-flex justify-content-center">
                                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'accounts:login' %}">ログイン</a>
                                    <a class="btn btn-outline-light btn-lg px-4" href="{% url 'accounts:signup' %}">サインアップ</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="{% static "img/background-image1.jpg" %}" alt="..." /></div>
                    </div>
                </div>
            </header>
            {% endblock %}
            {% block body %}
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder">～犬種紹介～</h2>
                                <p class="lead fw-normal text-muted mb-5">横にスクロールさせると他の犬種も見ることができます</p>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5">
                        {% include 'dog_list_Scroll.html' %}
                    </div>
                    {% endblock %}
    </body>
</html>
