{% load static %}
<title>{% block title %}question6{% endblock %}</title>
<link href={% static 'css/styles.css' %} rel="stylesheet" />
    <head>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href=""{% url 'dogapp:index' %}"">DOG CHOICE</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            </div>
        </nav>
    </head>
<style>
    .background-container {
        background-image: url('{% static "img/background-image1.jpg" %}');
        background-size: cover;
        background-repeat: no-repeat;
        /* 他の背景スタイルを設定することもできます */
    }

    .form-container {
        background-color: rgba(255, 255, 255, 0.7); /* 背景色の透明度を設定 (0.6 は 60% の透明度) */
        padding: 20px;
    }

    /* ボタンの横幅を広げるスタイル */
    .btn-wide {
        width: 40%;
    }

</style>

<div class="background-container">
    <div class="form-container">
        <div class="text-center">
            <form name="form" action="{% url 'dogapp:question6' %}" method="post">
                {% csrf_token %}
                <h1>質問6</h1>
                <br><br>

                <h3>あああああああああああああああああああああああああああああああ</h3>
                <br><br><br><br>
                <div class="row">
                    <div class="col-md">
                        <button type="submit" class="btn btn-outline-danger btn-wide" name="answer" value="1">回答１</button>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-md">
                        <button type="submit" class="btn btn-outline-primary btn-wide" name="answer" value="2">回答２</button>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-md">
                        <button type="submit" class="btn btn-outline-success btn-wide" name="answer" value="3">回答３</button>
                    </div>
                </div><br>
            </form>
            <!-- 余白を設定 -->
            <br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>
</div>

<footer class="bg-dark py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2023</div></div>
            <div class="col-auto">
                <a class="link-light small" href="#!">Privacy</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="#!">Terms</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="#!">Contact</a>
            </div>
        </div>
    </div>
</footer>