{% load static %}
<title>question1</title>
<link href={% static 'css/styles.css' %} rel="stylesheet" />
    <head>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="{% url 'dogapp:index' %}">DOG CHOICE</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        {% if user.is_authenticated %}
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="{% url 'dogapp:index' %}">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'dogapp:question1' %}">診断</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'dogapp:ranking' %}">ランキング</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'dogapp:comment' %}">掲示板</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'dogapp:dog_list' %}">犬種一覧</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'accounts:logout' %}">ログアウト</a></li>
                        </ul>
                        {% else %}
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="{% url 'dogapp:index' %}">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'dogapp:ranking' %}">ランキング</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'dogapp:dog_list' %}">犬種一覧</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">ログイン</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'accounts:signup' %}">サインアップ</a></li>
                        </ul>
                        {% endif %}
                    </div>
            </div>
        </nav>
    </head>
    <header class="bg-warning py-0">
        <div class="container px-5">
            <div class="row gx-5 align-items-center justify-content-center">
                <div class="col-lg-8 col-xl-7 col-xxl-6 text-center">
                    <div class="my-5">
                        <h1 class="display-5 fw-bolder text-dark mb-2">犬種診断</h1>
                        <h4 class="text-dark">いくつかの質問に答えてあなたと相性の良い犬種をお知らせ</h4>
                    </div>
                </div>
            </div>
        </div>
    </header>
<style>
    .background-container {
        background-image: url('{% static "img/background-image1.jpg" %}');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .form-container {
        background-color: rgba(255, 255, 255, 0.4);
        padding: 20px;
    }

    .btn-wide {
        width: 40%;
    }

</style>

<div class="background-container">
    <div class="form-container">
        <div class="text-center">
            <form name="form" action="{% url 'dogapp:question1' %}" method="post">
                {% csrf_token %}
                <h1>質問1</h1>
                <br><br>

                <h3>休日はどう過ごしたい？</h3>
                <br><br><br><br>
                <div class="row">
                    <div class="col-md">
                        <button type="submit" class="btn btn-outline-danger btn-wide" name="answer" value="1">家でのんびり</button>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-md">
                        <button type="submit" class="btn btn-outline-primary btn-wide" name="answer" value="2">近場におでかけ</button>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-md">
                        <button type="submit" class="btn btn-outline-success btn-wide" name="answer" value="3">ピクニックなど遠出がしたい</button>
                    </div>
                </div><br>
            </form>
            <!-- 余白を設定 -->
            <br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>
</div>

<footer class="bg-dark py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2023</div></div>
            <div class="col-auto">
                <a class="link-light small" href="https://twitter.com/">𝕏</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="https://www.facebook.com/">facebook</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="https://about.instagram.com/ja-jp">instagram</a>
            </div>
        </div>
    </div>
</footer>